body {background-color:white; font: arial; font-color:black;}
h1{color:grey;font:verdana;}
maindiv{background-color:white;font-color:black;width:300;padding:20;border-radius:25px;align:center-right;}


