body {background-color:white; font-family: arial; font-color:black;}
h1{color:grey; font-family:verdana;}
maindiv{background-color:white; font-color:black; width:300px; padding:20px; border:25px; text-align:center-right;}


